@keyframes circle {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes pulse {
    40% {
      opacity: 0.55;

    }
    100%{
     opacity: 1;

    }
  }
  
  @keyframes run {
    from{
      transform: translateX(-100px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  
  }